# Anchor / Solana
.env
.env.*

.target/
.anchor/
target/
node_modules/

# Keys
*.json
!.eslintrc.json
!.prettierrc.json
!package.json
!tsconfig.json

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
